In [26]:
import pandas as pd
import csv

df_test = pd.read_csv('/Users/emrecanbazer/Downloads/Dynamic_data/Test.csv', sep = '\n', header = None, doublequote=True, quotechar = "'")
df_test_lables = pd.read_csv('/Users/emrecanbazer/Downloads/Dynamic_data/Test_label.csv', sep = '\n', header = None)

In [27]:
df_test.columns = ['text']

In [28]:
df_test

                                                   text
0                               dalits are lowlife scum
1     It was a better world when women dare not ques...
2     I don't work this hard so that those chavs can...
3                      blonde ladies are fuc''ing smart
4     Terrorists are always fucking Muslim but never...
...                                                 ...
4057                                Women are dishonest
4058     You can tell a man is lying when his lips move
4059   You can tell when men are lying, their lips move
4060                       Dalits are worthy of nothing
4061                            Women are so hysterical

[4062 rows x 1 columns]

In [29]:
df_test_lables.columns=['label']

In [31]:
df_test['label'] = df_test_lables.label

In [32]:
df_test

                                                   text  label
0                               dalits are lowlife scum      1
1     It was a better world when women dare not ques...      1
2     I don't work this hard so that those chavs can...      1
3                      blonde ladies are fuc''ing smart      0
4     Terrorists are always fucking Muslim but never...      0
...                                                 ...    ...
4057                                Women are dishonest      1
4058     You can tell a man is lying when his lips move      1
4059   You can tell when men are lying, their lips move      1
4060                       Dalits are worthy of nothing      1
4061                            Women are so hysterical      1

[4062 rows x 2 columns]

In [37]:
df_test.to_csv('dyn_data_test.csv', sep ='\t')

OSError: [Errno 30] Read-only file system: 'dyn_data_test.csv'